.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-product {
  border-top: 1px solid #000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


/* Estilo do container */
.App {
  width: 80%;  /* A largura da .App ainda é 80% da tela, sem um máximo */
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza a tabela dentro do container */
}

/* Estilo para a tabela */
table {
  width: 100%; /* A tabela vai ocupar 100% da largura disponível */
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

thead {
  background-color: #4CAF50;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tbody tr:last-child td {
  border-bottom: none;
}

/* Estilo para o formulário */
.add-product {
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos dentro do formulário */
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
}

input[type="number"] {
  width: 200px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}
