nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  color: #b4b4b4;
}

nav a:hover {
  color: #ccc;
}

.active {
  display: block;
  background-color: #378194;
  color: #fff;
}